<div class="mt-16 flex flex-col items-center">
  {{ partial "social.html" (dict "menuID" "social") }}
  <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
    Copyright {{ now.Year }}. All rights reserved.
  </div>
  <div class="mb-8 text-sm text-gray-500 dark:text-gray-400">
    <a
      class="break-words"
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/ranabd36"
      >Developed by <span class="text-amber-500">@ranabd36</span></a
    >
  </div>
</div>
