{{- if .IsHome -}}
  <meta name="description" content="{{ site.Params.Description }}" />
{{- else -}}
  <meta name="description" content="{{ .Params.Description }}" />
{{- end }}

{{- if .IsHome -}}
  <meta name="keywords" content="{{ site.Params.Keywords }}" />
{{- else -}}
  <meta name="keywords" content="{{ .Params.Keywords }}" />
{{- end }}

{{- if isset .Params "canonical" -}}
  <link rel="canonical" href="{{ .Params.canonical }}" />
{{- else -}}
  <link rel="canonical" href="{{ .Permalink }}" />
{{- end }}


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ .Site.Params.Twitter_Site }}" />

{{- if .IsHome -}}
  <meta name="og:title" content="{{ .Site.Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ .Site.Params.Description }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  <meta name="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Image }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.Twitter_Site }}" />
  <meta name="twitter:title" content="{{ .Site.Title }}" />

  {{- if isset .Site.Params "Twitter_Image" -}}
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Twitter_Image }}" />
  {{- else -}}
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Image }}" />
  {{- end }}
{{- else -}}
  <meta name="og:title" content="{{ .Title }}" />

  {{- if isset .Params "og_type" -}}
    <meta property="og:type" content="{{ .Params.og_type }}" />
  {{- else -}}
    <meta property="og:type" content="website" />
  {{- end }}


  <meta property="og:description" content="{{ .Params.Description }}" />
  <meta property="og:url" content="{{ .Permalink }}" />

  {{- if isset .Params "Featured_image" -}}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.Featured_Image }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.Featured_Image }}" />
  {{- else -}}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Image }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Image }}" />
  {{- end }}

  {{- if isset .Params "Author_twitter_handle" -}}
    <meta
      name="twitter:creator"
      content="{{ .Params.Author_twitter_handle }}"
    />
  {{- else -}}
    <meta name="twitter:creator" content="{{ .Site.Params.Twitter_Site }}" />
  {{- end }}


  <meta name="twitter:title" content="{{ .Title }}" />
{{- end }}
